.mainMenu{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
}
.mainMenu > li{
    padding: 0 16px;
    display: flex;
    align-items: center;
}
.mainMenu > li > a{
    text-decoration-color: transparent;
    color: #003e66;
    font-weight: 800;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}