/* Wyświetlanie */
.gamesContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.gamesContainer > h2{
    width: 100%;
    text-align: left;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
}
.gamesContainer > h2 svg{
    font-size: 28px;
    color: rgb(110, 4, 119);
}
.gamesContainer > button{
    padding: 16px 32px;
    border-radius: 0.5rem;
    border: 0px none transparent;
    font-weight: 500;
    font-size: 18px;
    color: white;
    background-color: rgb(110, 4, 119);
}
.gameItem{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: flex-start;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 0.5rem;
    position: relative;
    padding: 16px;
    width: 100%;
}
.gamesContainer ul{
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}
.editContainer{
    width: 100%;
}
.gameItem > img{
    width: 100px;
    height: 160px;
    object-fit: cover;
    border-radius: 0.6rem;
    border: 1px solid #bda8fe83;
}
.addgame_container > form > div > label img{
    width: max-content;
    max-height: 160px;
    object-fit: contain;
}
.gamesContainer_data{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.gamesContainer_buttons{
    position: absolute;
    right: 16px;
    top: 16px;
    gap: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gamesContainer_buttons > button{
    border: 0px none transparent;
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    color: rgb(110, 4, 119);
}

/* Dodawanie i edytowanie */
.addgame_container, .addgame_container > form{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;
    width: 100%;
}
.addgame_container{
    border-top: 16px solid rgb(238, 238, 238);
    padding-top: 32px;
}
.addgame_container > h3{
    text-align: start;
}
.addgame_container > div, .addgame_container > form > div{
    display: flex;
    gap: 16px;
}
.addgame_container > div > input, .addgame_container > div > textarea, .addgame_container > form > div > textarea, .addgame_container > form > div > input, .addgame_container > form > div > label {
    width: 100%;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 0.5rem;
    padding: 8px 12px;
}
.addgame_container > form > div > label{
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    align-items: center;
}
.addgame_container > div > textarea, .addgame_container > form > div > textarea{
    min-height: 300px;
}
.addgame_container > div > span, .addgame_container > form > div > span{
    min-width: 400px;
    width: 400px;
    text-align: end;
    background-color: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 8px 12px;
    border-radius: 0.5rem;
}
.addgame_add, .addgame_back{
    border: 0px none transparent;
    padding: 16px;
    border-radius: 0.5rem;
    font-weight: 500;
    font-size: 18px;
}
.addgame_add{
    color: white;
    background-color: rgb(110, 4, 119);
}
.addgame_back{
    color: white;
    background-color: rgb(35 35 35);
}