.baner{
    width: 100%;
    height: 440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 0px!important;
    margin-top: 64px;
    border-radius: 0.6rem;
    overflow: hidden;
}
.baner_graphic{
    /* width: 70%; */
    width: 70%;
    border-radius: 1rem;
    height: 100%;
    background-image: url(../../assets/images/baner_test.webp);
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 3;
}
.baner_graphic_back{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 586px;
    background-image: url(../../assets/images/back.jpg);
    background-size: cover;
    background-position: center;
    z-index: 1;
}
.baner_graphic_back:after{
    content: '';
    display: block;
    width: 100%;
    height: 200px;
    /* background: #232024ad; */
    background-color: rgb(46 46 46);
    background: linear-gradient(0deg, rgba(46, 46, 46,1) 0%, rgba(46, 46, 46,0.9023984593837535) 10%, rgba(46, 46, 46,0.7987570028011204) 20%, rgba(46, 46, 46,0.5998774509803921) 50%, rgba(46, 46, 46,0.20211834733893552) 80%, rgba(46,46,46,0) 100%);
    position: absolute;
    bottom: 0px;
}
.baner_graphic_back:before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: #241f2594;
    display:block;
    z-index: 2;
}

/* Logo gry na banerze */
.baner_logo{
    background: #35353594;
    backdrop-filter: blur(10px);
    right: 0px;
    top: 0px;
    position: relative;
    z-index: 3;
    border-radius: 1rem;
    /* width: 28.5%; */
    width: 440px;
    min-width: 440px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 32px;
    box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.14);
}
.baner_logo{
    display: flex;
}
.baner_logo > img{
    width: 175px;
    height: 246px;
    border: 1px solid #bda8fe83;
    border-radius: 0.6rem;
}
.baner_logo > button{
    border: 0px none transparent;
    border-radius: 0.6rem;
    background-color:  transparent;
    border: 2px solid #bda8fe;
    color: #bda8fe;
    padding: 8px 32px;
    margin-top: 32px;
}
.baner_rate{
    color: white;
    margin-top: 32px;
    font-size: 18px;
}
