.header{
    border: 1px solid red;
    height: 96px;
    display: flex;
    align-items: flex-end;
}
.header_container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 8px;
}
.header_container > div{
    display: flex;
    gap: 32px;
}
