@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.games_container{
    background-color: #292929;
    padding: 32px 0px;
}
.games{
    display: flex;
    justify-content: space-between;
}
.games_column{
    width: 100%;
    max-width: 32.5%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* background-color: white; */
    background-color: #353535;
    border-radius: 0.6rem;
    padding: 16px;
    -webkit-box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.14);
}
.games_column > h3{
    text-align: left;
    font-size: 18px;
    color: white;
    width: 100%;
    /* border-bottom: 1px solid rgb(219, 219, 219); */
    border-bottom: 1px solid rgb(84 84 84);
    padding-bottom: 8px;
    margin-bottom: 0px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 8px;
}
.games_column > h3 path{
    /* color: #e0bf00; */
    color: #bda8fe;
}
.games_column > div{
    border-bottom: 1px solid rgb(84 84 84);
    text-align: left;
    padding: 8px 8px;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.games_revtit{
    display: flex;
    gap: 16px;
}
.games_button{
    text-align: left;
    display: block;
    text-decoration-color: transparent;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 24px;
    border-radius: 0.6rem;
    /* background-color: #FFD700; */
    background-color: transparent;
    border: 2px solid #bda8fe;
    color: #bda8fe;;
    margin-top: 16px;
    width: max-content;
}
/* .games_column > div:nth-child(1){
    border-top: 1px solid rgb(206, 206, 206);
} */
.games_rev{
    border-radius: 0.5rem;
    display: block;
    font-weight: 800;
    padding: 4px 8px;
}
.games_title, .games_date{
    display: flex;
    align-items: center;
}